<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300;400&family=PT+Sans+Narrow&display=swap" rel="stylesheet">

    <title>{% block title %}Samantha, cellist{% endblock %}</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            // https://dashboard.emailjs.com/admin/account
            emailjs.init('YOUR_PUBLIC_KEY');
        })();
    </script>
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById('contact-form').addEventListener('submit', function(event) {
                event.preventDefault();
                // generate a five digit number for the contact_number variable
                this.contact_number.value = Math.random() * 100000 | 0;
                // these IDs from the previous steps
                emailjs.sendForm('contact_service', 'contact_form', this)
                    .then(function() {
                        console.log('SUCCESS!');
                    }, function(error) {
                        console.log('FAILED...', error);
                    });
            });
        }
    </script>
  </head>
  <body>
    <header>
      <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">Samantha, cellist</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav">
                <li class="nav-item px-3">
                  <a class="nav-link active" aria-current="page" id="home" href="/">Home</a>
                </li>
                <li class="nav-item px-3">
                  <a class="nav-link" id="weddings" href="/weddings">Weddings and Events</a>
                </li>
                <li class="nav-item px-3">
                  <a class="nav-link" id="teaching" href="/teaching">Teaching</a>
                </li>
                <li class="nav-item px-3">
                  <a class="nav-link" id="contact" href="{{url_for('views.contact') }}">Contact</a>
                </li>
              </ul>
              
            </div>
          </div>
        </nav>
      </div>
    </header>
    

    <div class="container-fluid main-info">
      <div class="blur">
        {% block content %} {% endblock %}
      </div>
    </div>
    
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

{% block javascript %}
<script type="text/javascript"
    src="{{ url_for('static', filename='index.js') }}">
</script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script type="text/javascript">
      (function(){
        emailjs.init("T2EI9Q6Fwg6w9xyo0");
      })();

      function sendEmail() {
        var serviceID = "service_qln82cb";
        var templateID = "template_ufpgyh8";

        var params = {
            senderfirst_name: document.querySelector("#first_name").value,
            senderlast_name: document.querySelector("#last_name").value,
            senderemail: document.querySelector("#email").value,
            wedding_date: document.querySelector("#wedding_date").value,
            venue: document.querySelector("#venue").value,
            start_time: document.querySelector("#start_time").value,
            end_time: document.querySelector("#end_time").value,
            message: document.querySelector("#event_content").value
        };

        emailjs.send(serviceID, templateID, params)
        .then(function(response) {
          console.log('SUCCESS!', response.status, response.text);
        }, function(error) {
          console.log('FAILED...', error);
        });
      }
</script>
{% endblock %}

  </body>
</html>