{% extends "base.html" %}{% block title %}Home{% endblock %} 
{% block content%}

<div class="container-fluid">
    <section>
        <div class="row p-lg-3">
            <div class="col-lg-6 mb-md-4 home-img"></div>
            <div class="col-lg-6 home-about">
                <p>Samantha Drees is an American born cellist from Cleveland, Ohio, now resident of Cardiff, UK. She received her Bachelor’s degree in Music studying cello and a Bachelor’s degree of Arts in the French Language from Baldwin Wallace University and Conservatory. She also completed a chamber music emphasis, which consisted of organising three chamber music recitals, one at the Conservatory and two others in local churches in the community.</p>
                <p>Samantha studied with Regina Mushabac and co-principal cellist of the Cleveland Orchestra, Richard Weiss. She was actively involved in Symphony Orchestra conducted by the former Cleveland Ballet director, Dwight Oltman, and participated in BW’s prestigious Bach Festival, the oldest collegiate Bach fest in the nation.</p>
                <p>Following graduation, Samantha attended various summer festivals and then moved worked as an English teacher in three elementary schools in Paris, France. She obtained a Master’s degree in Music in 2019 from the Royal Welsh College of Music and Drama where she has performed in many college ensembles. She studied with Nikki Thomas.</p>
                <p>Currently, Samantha freelances in various ensembles in the UK including Opera de Baugé, the British Sinfonietta, the London Opera Company, the Aderyn String Quartet, Halo Strings UK and Storm Electric String Ensemble. Samantha is passionate about chamber music and solo playing and hopes to develop this aspect of her career. She enjoys recording and has premiered several works of Spanish composer Francisco Merino Morales. </p>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <h1>Videos</h1>
        </div>
    </section>
</div>
{% endblock %}