{% extends "base.html" %} {% block title %}Weddings{% endblock %}
{% block content%}

<div class="container-fluid">
    <section>
        <div class="row">
            <h1>Photo</h1>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-12 weddings-about">
                <p>Samantha enjoys performing with Aderyn String Quartet since 2018. The cello’s role in a string quartet is often akin to a hybrid between the role of the bass guitar and the drums in a rock band. Since 2021, Samantha began performing solo for wedding ceremonies, drink receptions and wedding breakfasts and other formal events to enjoy playing the melody. She performs with custom backing tracks and as a duo with local musicians. Other duos are also possible with collaboration of other local highly skilled musician such as cello and piano, cello and guitar (acoustic but electric is also possible!), cello and harp and cello and violin.</p>
                <p>Please get in touch for a free quote from Samantha. In addition to performing the music, she accommodates any repertoire request for your ceremony and can offer recommendations.</p>
                <p>The cello is the instrument closest to the human voice!</p>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary" href="{{ url_for('views.contact')}}" role="button">Make an Enquiry</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}