a.navbar-brand {
    font-family: 'Londrina Outline', cursive !important;
    font-size: 5rem;
}

.nav-item, h1 {
    font-family: 'Londrina Solid', cursive;
    padding-left: 10%;
    font-size: 1.5rem;
}

.home-about, .teaching-about, .weddings-about, .contact-us {
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: justify;
}

.submit {
    font-family: 'Londrina Solid', cursive;
}

.home-img {
    background: url("../static/images/cellist.jpg") no-repeat center;
    background-size: contain;
    height: 700px;
}

@media only screen and (max-width: 700px) {
    a.navbar-brand {
      font-size: 1.5rem;
    }
    .home-img {
        height: 400px;
        margin-bottom: 20px;
    }
}

