a.navbar-brand {
    font-family: 'Londrina Outline', cursive !important;
    font-size: 5rem;
}

.nav-item {
    font-family: 'Londrina Solid', cursive;
    padding-left: 10%;
    font-size: 1.5rem;
}

